.fw-yes-icon {color: #6abf2b;font-size: 22px;margin-right: 8px;}
.fw-no-icon {color: #d54e21;font-size: 18px;margin-right: 8px;}
.fw-success-message {color: #6abf2b;}
.fw-error-message {color: #d54e21;}
.fw-info-symbol {font-size: 19px;margin-right: 8px;color: #0073aa;}